#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Line_2 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}