#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}